*~
src/*~
obj
*.pdf
*.eps
*.root
tmp
mappingInfo/*~
data/
data_root/
root_pdf_summary/
archive/
make_hvbias_map
convert_hvbias_params_main
plotsSector_main
plotsMergedData_main
libarihvmonitorDict.cxx
libarihvmonitorDict.so
libarihvmonitorDict_rdict.pcm
testARICHChannelHist_main
testARICHSectorHist_main
testARICHmapping_main
Makefile.log
merge_Root_hvbias_params_main
convert_hvbias_folder.sh*
get_hvbias_info_cron_vmon_sec_1.sh
get_hvbias_info_cron_cmon_sec_1.sh
get_hvbias_info_cron_mask_sec_1.sh
get_hvbias_info_cron_vlimit_sec_1.sh
get_hvbias_info_cron_climit_sec_1.sh
get_hvbias_info_cron_vdemand_sec_1.sh
get_hvbias_info_cron_vmon_sec_2.sh
get_hvbias_info_cron_cmon_sec_2.sh
get_hvbias_info_cron_mask_sec_2.sh
get_hvbias_info_cron_vlimit_sec_2.sh
get_hvbias_info_cron_climit_sec_2.sh
get_hvbias_info_cron_vdemand_sec_2.sh
get_hvbias_info_cron_vmon_sec_3.sh
get_hvbias_info_cron_cmon_sec_3.sh
get_hvbias_info_cron_mask_sec_3.sh
get_hvbias_info_cron_vlimit_sec_3.sh
get_hvbias_info_cron_climit_sec_3.sh
get_hvbias_info_cron_vdemand_sec_3.sh
get_hvbias_info_cron_vmon_sec_4.sh
get_hvbias_info_cron_cmon_sec_4.sh
get_hvbias_info_cron_mask_sec_4.sh
get_hvbias_info_cron_vlimit_sec_4.sh
get_hvbias_info_cron_climit_sec_4.sh
get_hvbias_info_cron_vdemand_sec_4.sh
get_hvbias_info_cron_vmon_sec_5.sh
get_hvbias_info_cron_cmon_sec_5.sh
get_hvbias_info_cron_mask_sec_5.sh
get_hvbias_info_cron_vlimit_sec_5.sh
get_hvbias_info_cron_climit_sec_5.sh
get_hvbias_info_cron_vdemand_sec_5.sh
get_hvbias_info_cron_vmon_sec_6.sh
get_hvbias_info_cron_cmon_sec_6.sh
get_hvbias_info_cron_mask_sec_6.sh
get_hvbias_info_cron_vlimit_sec_6.sh
get_hvbias_info_cron_climit_sec_6.sh
get_hvbias_info_cron_vdemand_sec_6.sh
